.Header-title {
    max-height: 13vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media (min-width: 529px) {
    .Header-title {
        font-size: calc(5px + 2vmin);
        height: 40vmin;
    }
}


