.App-logo {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
}

.Logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .Logo  {
        animation: Logo-spin infinite 20s linear;
    }
}

@keyframes Logo-spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

.Cards {
    background-color: #c3dfd8;
}

.Card-title {
    color: #0d2d03;
}

.Card {
    color: #3a756a;
}

@media (min-width: 1600px) {
    .data {
        padding: 20px 150px;
    }
}
